@import url("https://fonts.googleapis.com/css?family=Roboto");
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.editor {
  min-height: 100vh;
  background: #181818;
  color: #f9f9f9;
  font-size: 14px;
  font-family: Consolas;
  padding-top: 12px;
  padding-left: 12px; }

textarea {
  width: 100%;
  height: calc(100%);
  background: inherit;
  color: inherit;
  border: none;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  resize: none; }
  textarea:focus {
    border: none;
    outline: none !important; }

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  right: 24px;
  background: #DE3131; }

.header .icon {
  width: 42px;
  height: 42px;
  cursor: pointer; }
  .header .icon:not(:last-of-type) {
    border-right: 0.5px solid rgba(247, 247, 247, 0.5); }

.header .icon img {
  display: block;
  height: 24px;
  margin: 9px auto; }
