@import url("https://fonts.googleapis.com/css?family=Roboto");
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif; }

a {
  color: inherit; }

.editor {
  height: calc(100vh - 55px);
  background: #181818;
  color: #f9f9f9;
  font-size: 14px;
  font-family: Consolas;
  padding-top: 16px;
  padding-left: 32px; }

textarea {
  width: 100%;
  height: calc(100% - 16px);
  background: inherit;
  color: inherit;
  border: none;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  resize: none;
  font-family: "Roboto", "Consolas", monospace; }
  textarea:focus {
    border: none;
    outline: none !important; }

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 55px;
  line-height: 55px;
  padding: 0 32px;
  color: #39464E;
  background: white; }

.header .icon {
  height: 14px; }
  .header .icon:not(:last-of-type) {
    border-right: 0.5px solid rgba(247, 247, 247, 0.3); }

.icon + p {
  margin-left: 12px; }

p + .icon {
  margin-left: 12px; }

.login-btn {
  margin-left: auto;
  opacity: 0.5;
  cursor: default !important; }

.header .btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 32px;
  cursor: pointer; }
  .header .btn > p {
    font-size: 14px; }

.header .icon img {
  display: block;
  height: 14px;
  margin: 20.5px auto; }

.main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.login {
  position: absolute;
  right: 0;
  top: 55px;
  width: 420px;
  padding: 32px;
  background: #F3F3F3; }

.editor {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }
