@import url('https://fonts.googleapis.com/css?family=Roboto');

$red: #DE3131;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.editor {
	min-height: 100vh;
	
	background: rgb(24, 24, 24);
	color: rgb(249, 249, 249);
	font-size: 14px;
	font-family: Consolas;
	
	padding-top: 12px;
	padding-left: 12px;

}

textarea {
	width: 100%;
	height: calc(100% - 12px);
	
	background: inherit;
	color: inherit;
	border: none;
	tab-size: 4;
	resize: none;
	
	&:focus { border: none; outline: none !important; }
}

$header-height: 42px;
$header-icon-height: 24px;

.header {
	display: flex;
	
	position: fixed;
	right: 48px;
	background: $red;
}

.header .icon {
	width: $header-height;
	height: $header-height;
	cursor: pointer;
	
	&:not(:last-of-type) {
		border-right: 0.5px solid rgba(247, 247, 247, 0.5);
	}
}

.header .icon img {
	display: block;
	height: $header-icon-height;
	margin: ($header-height - $header-icon-height) / 2 auto;
}